body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header{
    background-image: url("imagenes/Logo/ocean-wave-shape_icon-icons.com_70662.png");
    background-repeat:no-repeat;
    background-position-y: 80px;
    background-position-x: 0;
    padding: 0px;
    border: 0px;
    display: flex;
    font-size: 3em;
    color: black;

}



header img{
    width: 300px;
    height: 300px;
    margin-left: 90vh;
    filter: saturate(100%);
}

header h1{
    filter:brightness(2);
    margin-left: 15px;
}

nav{
    display: flex;
    justify-content:center;
    background: black;
    
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: black;
    transition: background-color 1s linear;

}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 300px) ;
    grid-area: 100px;
    grid-template-rows: repeat(4, 300px);
    border: 1px solid black;
}

#item2{
    grid-row: span 2;
}

#Galería img{
    width:fit-content;
    height:fit-content;
}

nav a:hover{
    background-color: white;
    color: black;
}

footer{
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 100px;
    background: black;
}

footer div{
    color: white;
    margin-left: 10vh;
    margin-right: 10vh;
}

a{
    text-decoration: none;
    color: white;
}

#contactos{
    display: flex;
    justify-content: flex-start;
}

#contactos img{
    margin-left: 60px;
    margin-top: 20px;
    width: 50%;
    height: 30%;
}