body {
    background-image: url(imagenes/Fondo/Fondo.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}


#registro{
    margin-left: 600px;
}

#registro *{
    margin-right: 20px;
}

header #menu {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header #menu a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 2em;
}

.hoverYes:hover {
    padding-bottom: 49px;
    border-bottom: 15px solid black;
}

header #menu #reserva {
    padding: 40px;
    background-color: rgb(113, 54, 54);
    color: white;
    border-radius: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

header #menu {
    padding-top: 80px;
}

header #menu a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 2em;
    padding-top: 80px;
}

header #menu a:hover {
    padding-bottom: 49px;
    border-bottom: 15px solid black;
}

header #menu #reserva {
    padding: 40px;
    background-color: rgb(113, 54, 54);
    color: white;
    border-radius: 30px;
}

header #menu #reserva:hover {
    background-color: rgb(52, 25, 25);
}

footer {
    background-color: black;
}

footer #contactos img {
    width: 50px;
    height: 50px;
}

footer #footerInfo {
    justify-content: center;
    display: flex;
}

footer #footerInfo div {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}